extends layout

block content
    h1 The name of the movie people are watching right now is #{movie.name} at #{movie.theater.name}

    h2 The total sales that #{movie.theater.name} made is $#{movie.theater.totalSales}